.block-photo{
	position: relative;
	background: #081131;
	border-bottom: 0.9rem solid #ffc000;
	.container{
		padding: 9rem 1rem 15rem;
		max-width: 101rem;
	}
	h2{
		text-transform: uppercase;
		color: #fff;
		font: 3.6rem $font-bold;
		padding:0 1rem 8.5rem;
		text-align: center;
	}
	&__item{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		.photo{
			-webkit-box-flex: 1;
			    -ms-flex: 1 30%;
			        flex: 1 30%;
			margin: 1rem;
			min-width: 31rem;
			max-width: 31rem;
			width: 31rem;
			height: 18rem;
			border: 1.5rem solid #fff;
			background: #e2e2e2;
		}
	}
	.bth-link{
		position: absolute;
		left: 0;
		right: 0;
		bottom: -5rem;
		margin: auto;
		text-transform: uppercase;
		color: #000;
		font: 2.4rem $font-bold;
		display: block;
		letter-spacing: 0.168rem;
		background: #ffc000;
		border-radius: 5.1rem;
		max-width: 64rem;
		width: 100%;
		text-align: center;
		padding: 3.6rem 0;
		&:hover{
			background: lighten(#fff, 20%);
		}
	}
}

@media screen and (max-width: 576px){
.block-photo{
	.container{
		padding: 5rem 1rem 11rem;
	}	
	h2{
		font-size: 3rem;
		padding-bottom: 4rem;
	}
	.bth-link{
		letter-spacing: 0;
	}
	&__item{
		.photo{
			-webkit-box-flex: 1;
			    -ms-flex: 1 100%;
			        flex: 1 100%;
		}
	}
}
}