@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?69476457');
  src: url('../fonts/fontello.eot?69476457#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?69476457') format('woff2'),
       url('../fonts/fontello.woff?69476457') format('woff'),
       url('../fonts/fontello.ttf?69476457') format('truetype'),
       url('../fonts/fontello.svg?69476457#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */


@font-face {font-family: "HelveticaNeue45Light";
    display: swap;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/HelveticaNeue45Light.eot");
    src: url("../fonts/HelveticaNeue45Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue45Light.woff2") format("woff2"),
    url("../fonts/HelveticaNeue45Light.woff") format("woff"),
    url("../fonts/HelveticaNeue45Light.ttf") format("truetype"),
    url("../fonts/HelveticaNeue45Light.svg#Helvetica Neue LT Std") format("svg");
}

@font-face {font-family: "HelveticaNeueBold";
    font-display: swap;
    src: url("../fonts/HelveticaNeueCyr-Bold.eot");
    src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: "HelveticaNeueCyr-Roman";
    font-display: swap;
    src: url("../fonts/HelveticaNeueCyr-Roman.eot");
    src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$font1: "HelveticaNeue45Light", sans-serif;
$font2: "HelveticaNeueCyr-Roman", sans-serif;
$font-bold: "HelveticaNeueBold", sans-serif;